

<h3 class="underline csu-red-line">Teacher</h2>

<p>Black</p>
<div class="flex-row action-box padding-1">
  <div class="flex-column"><img src="../../images/Teacher-Blk.png"><p class="smaller-text center-text">Icon</p></div>
  <div class="flex-column"><img src="../../images/Teacher-Blk-Line.png"><p class="smaller-text center-text">With Line</p></div>
  <div class="flex-column"><img src="../../images/Teacher-Blk-Fill.png"><p class="smaller-text center-text">With Fill</p></div>
</div>

<p>Reversed</p>
<div class="flex-row action-box csu-green padding-1">
  <div class="flex-column"><img src="../../images/Teacher-Rev.png"><p class="smaller-text center-text">Icon</p></div>
  <div class="flex-column"><img src="../../images/Teacher-Rev-Line.png"><p class="smaller-text center-text">With Line</p></div>
  <div class="flex-column"><img src="../../images/Teacher-Rev-Fill.png"><p class="smaller-text center-text">With Fill</p></div>
</div>

