

<h2 class="label">Brand Palette</h2>
<div class="flex-row ">
  <div class="flex-column csu-brand-black swatch flex-container flex-end">
    <p>Black<br /><span class="small-text">#1A1A1A</span></p>
  </div>
  <div class="flex-column csu-brand-red swatch flex-container flex-end">
    <p>Red<br /><span class="small-text">#B00C1D</span></p>
  </div>
  <div class="flex-column csu-brand-orange swatch flex-container flex-end">
    <p>Orange<br /><span class="small-text">#D1441D</span></p>
  </div>
  <div class="flex-column csu-brand-brown swatch flex-container flex-end">
    <p>Brown<br /><span class="small-text">#887E6E</span></p>
  </div>
  <div class="flex-column csu-brand-light swatch flex-container flex-end">
    <p>Light<br /><span class="small-text">#DAD3CC</span></p>
  </div>
</div>

<div class="flex-row ">
  <div class="flex-column csu-brand-black-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-red-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-orange-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-brown-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-light-dark swatch-half flex-container flex-end"></div>
</div>
<div class="flex-row ">
  <div class="flex-column csu-brand-black-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-red-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-orange-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-brown-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-light-light swatch-half flex-container flex-end"></div>
</div>
<div class="flex-row ">
  <div class="flex-column csu-brand-black-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-red-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-orange-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-brown-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-brand-light-fade swatch-half flex-container flex-end"></div>
</div>

