

<h2 class="label">Grouped Buttons</h2>

<div class="button-group">
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
</div>

<div class="button-group">
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
</div>

