

<!-- Start: @buttons--default -->
<h2 class="label">Regular Button</h2>

<p class="csu-button"><a href="javascript:void(0)">Regular Button</a></p>

<button class="csu-button"><a href="javascript:void(0)">Regular Button</a></button>
<!-- End: @buttons--default -->

<!-- Start: @buttons--wide-button -->
<h2 class="label">Wide Button</h2>

<p class="csu-button csu-btn-wide"><a href="javascript:void(0)">Wide Button</a></p>

<button class="csu-button csu-btn-wide"><a href="javascript:void(0)">Wide Button</a></button>
<!-- End: @buttons--wide-button -->

<!-- Start: @buttons--large-button -->
<h2 class="label">Large Button</h2>

<p class="csu-button csu-btn-large"><a href="javascript:void(0)">Large Button</a></p>

<button class="csu-button csu-btn-large"><a href="javascript:void(0)">Large Button</a></button>
<!-- End: @buttons--large-button -->

<!-- Start: @buttons--full-button -->
<h2 class="label">Full Button</h2>

<p class="csu-button csu-btn-full"><a href="javascript:void(0)">Full Button</a></p>

<button class="csu-button csu-btn-full"><a href="javascript:void(0)">Full Button</a></button>
<!-- End: @buttons--full-button -->

<!-- Start: @buttons--group -->
<h2 class="label">Grouped Buttons</h2>

<div class="button-group">
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
  <p class="csu-button"><a href="javascript:void(0)">Group Button</a></p>
</div>

<div class="button-group">
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
  <button class="csu-button"><a href="javascript:void(0)">Group Button</a></button>
</div>
<!-- End: @buttons--group -->

<!-- Start: @buttons--group -->
<h2 class="label">Coloured Buttons</h2>

<div class="button-group">
  <p class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></p>
  <p class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></p>
  <p class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></p>
  <p class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></p>
  <p class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></p>
</div>

<div class="button-group">
  <button class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></button>
  <button class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></button>
  <button class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></button>
  <button class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></button>
  <button class="csu-button csu-green"><a href="javascript:void(0)">Colour Button</a></button>
</div>
<!-- End: @buttons--group -->

