

<h2 class="label">Cards for Profiles &amp; Contacts</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-1-sq.jpg" />
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-1-sq.jpg" />
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-1-sq.jpg" />
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
</div>

