

<h2 class="label">Cards with Buttons</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up"><img src="../../images/objects.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-orange">Click Here!</p>

  </div>
  <div class="card-item _3up"><img src="../../images/objects.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-orange">Click Here!</p>

  </div>
  <div class="card-item _3up"><img src="../../images/objects.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-orange">Click Here!</p>
  </div>
</div>

