

<h2 class="label">Display Dialogue as a Chat</h2>

<div class="chat">
  <h3>Title of the chat</h3>
  <p><img src="../../images/person1.jpg" /> Here is the first person speaking.</p>
  <p><img src="../../images/person2.jpg" />And here is the second person speaking.</p>
  <p><img src="../../images/person1.jpg" />First again.</p>
  <p><img src="../../images/person2.jpg" />Second Again.</p>
  <p><img src="../../images/person1.jpg" />I'll know it when i see it. Thats not what i saw in my head at all we need more images of groups of people having non-specific types of fun, so I want you to take
    it to the next level make it original the website doesn't have the theme i was going for this is just a 5 minutes job. </br> I know somebody who can do this for a reasonable cost the hair is just too polarising, yet thats not what i saw in my
    head at all. I need a website.</p>
  <p><img src="../../images/person2.jpg" />How much will it cost it looks a bit empty, try to make everything bigger thanks for taking the time to make the website, but i already made it in wix can we try some other
    colours maybe. </br>I have an awesome idea for a startup, i need you to build it for me make it sexy, that's great, but can you make it work for ie 2 please we are your relatives can we have another option. Could you rotate the picture to show
    the other side of the room?</p>
</div>

