

<h2 class="label">Brand Palette</h2>
<div class="flex-row ">
  <div class="flex-column csu-foa swatch flex-container flex-end">
    <p>FoAE<br /><span class="small-text">#327B8C</span></p>
  </div>
  <div class="flex-column csu-fob swatch flex-container flex-end">
    <p>FoBJBS<br /><span class="small-text">#1647AD</span></p>
  </div>
  <div class="flex-column csu-fos swatch flex-container flex-end">
    <p>FoS<br /><span class="small-text">#9CBB15</span></p>
  </div>
</div>

<div class="flex-row ">
  <div class="flex-column csu-foa-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-fob-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-fos-fade swatch-half flex-container flex-end"></div>
</div>

