

<!-- Start: @figure--default -->
<h2 class="label">Image</h2>

<figure class="featured">
  <img src="../../images/landscape.jpg" alt="alt&#x3D;&quot;View of lovely mountains">
  <figcaption>A view of lovely mountains <cite>https://unsplash.com/photos/NDuPLKYRXQU</cite></figcaption>
</figure>
<!-- End: @figure--default -->

<!-- Start: @figure--no-style -->
<h2 class="label">No Styke</h2>

<figure class="featured no-style">
  <img src="../../images/landscape.jpg" alt="alt&#x3D;&quot;View of lovely mountains">
  <figcaption>A view of lovely mountains <cite>https://unsplash.com/photos/NDuPLKYRXQU</cite></figcaption>
</figure>
<!-- End: @figure--no-style -->

<!-- Start: @figure--video -->
<h2 class="label">Video</h2>

<figure class="featured full-width">
  <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></iframe></div>
  <figcaption>This is a promo video for u!magine <cite>http://www.uimagine.edu.au</cite></figcaption>
</figure>
<!-- End: @figure--video -->

