

<!-- Start: @gallery-images--default -->
<h2 class="label">3UP Gallery</h2>

<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">3UP Gallery</h3>
  <figure class="_3up">
    <img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_3up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_3up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_3up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_3up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_3up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
</div>
<!-- End: @gallery-images--default -->

<!-- Start: @gallery-images--4up -->
<h2 class="label">4UP Gallery</h2>

<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">4UP Gallery</h3>
  <figure class="_4up">
    <img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
</div>
<!-- End: @gallery-images--4up -->

<!-- Start: @gallery-images--5up -->
<h2 class="label">5UP Gallery</h2>

<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">5UP Gallery</h3>
  <figure class="_5up">
    <img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_5up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_5up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_5up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_5up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_5up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
</div>
<!-- End: @gallery-images--5up -->

