

<h2 class="label">3UP Gallery</h2>



<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">3UP Gallery</h3>
  <figure class="featured _3up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _3up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _3up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _3up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _3up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
</div>

