

<h2 class="label">4UP Gallery</h2>

<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">4UP Gallery</h3>
  <figure class="_4up">
    <img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
  <figure class="_4up"><img src="../../images/landscape.jpg" />
    <figcaption>Mountain Views</figcaption>
  </figure>
</div>

