

<h2 class="label">CSU Brand black</h2>

<div class="flex-row tiles flex-tile-grout height-100">

  <div class="csu-brand-black-gradient-top _3up"><p class="smaller-text">To Top</p></div>
  <div class="csu-brand-black-gradient-bottom _3up"><p class="smaller-text">To Bottom</p></div>
  <div class="csu-brand-black-gradient-left _3up"><p class="smaller-text">To Left</p></div>
  <div class="csu-brand-black-gradient-right _3up"><p class="smaller-text">To Right</p></div>

  <div class="csu-brand-grad-black-black _3up"><p class="smaller-text">To Black</p></div>
  <div class="csu-brand-grad-black-red _3up"><p class="smaller-text">To Red</p></div>
  <div class="csu-brand-grad-black-brown _3up"><p class="smaller-text">To Brown</p></div>
  <div class="csu-brand-grad-black-orange _3up "><p class="smaller-text">To Orange</p></div>
  <div class="csu-brand-grad-black-light _3up"><p class="smaller-text">To Light</p></div>
</div>

