

<!-- Start: @landing-page--default -->
<h2 class="label">Landing Page - Weekly Update</h2>

<h2 class="underline csu-green-text ">LAW314 Community Law and Culture: <br><em><span class='smaller-text'>Regional, Rural, Remote and Indigenous Contemporary Issues</span></em></h2>
<div class="flex-row landing-week ">
  <div class="flex-column-2">
    <figure class="featured"><iframe width="1257" height="1233" style="margin-right: auto; margin-left: auto; display: block;" src="https://h5p.org/h5p/embed/103052" frameborder="0" allowfullscreen=""></iframe>
      <script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" type="text/javascript" charset="UTF-8"></script>
      <figcaption> Subject Timeline </figcaption>
    </figure>
  </div>
  <div class="flex-column ">
    <h3>Week 1 - What to Do This Week</h3>
    <ul class="csu-green-list">
      <li>Lists of things</li>
      <li><strong>Reminds</strong> me of sesame street</li>
      <li>Three Things!! hahaha</li>
      <li>Four Things! hahaha</li>
      <li>All of the things! hahaha</li>
    </ul>
    <h3>Weekly Message</h3>
    <p>Insert Text Here</p>
  </div>
</div>
<!-- End: @landing-page--default -->

<!-- Start: @landing-page--blurb -->
<h2 class="label">Landing Page - Video Blurb</h2>

<div class="content">
  <h2 class="underline csu-blue-text">Welcome to ACC100: Accounting 1</h2>
  <p>I'm Emmett Berry, and I'll be your subject coordinator this session. Accounting 1 gives you a solid foundation for the kinds of information and concepts that business managers and accountants use to make decisions and manage a business. We'll focus
    on the uses of financial information, rather than the recording a spect of financial transactions. Expect to learn how to read, analyse, interpret and communicate your findings using spreadsheets and business reports.</p>
  <figure class="featured">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
  </figure>
  <blockquote class="fancyquote csu-blue-text">Effective business decisions rely on good accounting!</blockquote>
  <div class="flex-row small-text">
    <div class="flex-column">
      <h4 class="csu-blue">Contacting Me</h4>
      <p>You can find my contact details in the 'Contacts' link in the left navigation, including the best times and ways of contacting me.</p>
      <h4 class="csu-blue">Your Textbook</h4>
      <p>Your textbook for this session is:</p>
      <p class="apa">Birt, J., Chalmers, K., Maloney, S., Brooks, A., Oliver, J., (2014) <em>Accounting Business Reporting For Decison Making with Wileyplus</em>, (5th ed.) Milton, Australia: John Wiley and Sons.</p>
      <p>It's important that you order the textbook in time for the first day of session. It comes in both Hardcopy or eBook and can be <a title="Opens publisher website (new window)" href="http://www.wileydirect.com.au/buy/accounting-business-reporting-decision-making-5th-edition/"
          target="_blank">purchased direct from the publisher. </a></p>
      <p>Hardcopy ISBN : 9780730319665</p>
      <p>eBook ISBN: 9780730314462</p>
      <p>We've provided you with a <a title="Opens pdf copy of Birt, chapter 1 (new window)" href="https://new.interact2.csu.edu.au/bbcswebdav/pid-46014-dt-content-rid-1405756_1/xid-1405756_1" target="_blank">pdf copy of the first chapter of the text</a>.
        Normally sharing this is now allowable under copyright law; however, the publisher has given us permission to help you make a positive start in ACC100 while your textbook order is being processed. <strong>Under no circumstances should you share this or other information subject to copyright.</strong></p>
    </div>
    <div class="flex-column">
      <h3 class="csu-blue-text">Let's have a bit of fun...</h3>
      <p>Did you know November 10 was International Accountants' Day? What better time to get to know some of the more unusual facts about the accounting profession. </p>
    </div>
  </div>
</div>
<!-- End: @landing-page--blurb -->

<!-- Start: @landing-page--summary -->
<h2 class="label">Landing Page - Weekly summary</h2>

<h4 class="underline csu-green-text">PPP100: Workforce Essentials</h4>
<div class="flex-row small-text">
  <div class="flex-column-3">
    <h4 class="csu-green">What to do this Week</h4>
    <p>This week, you should focus on:</p>
    <ul class="checklist">
      <li><span class="csu-orange-text">Study</span> your learning module(s) for this week.</li>
      <li><span class="csu-orange-text">Complete</span> any module self-study tasks within your downloaded Activity Booklet</li>
      <li><span class="csu-orange-text">Review</span> Assessment 4 preparation information</li>
    </ul>
    <h4 class="csu-green">Weekly Message</h4>
    <p>Week 12: this this module discusses models for successful project management - the steps and considerations attached to the process.</p>
    <h4 class="csu-green">Module 12: Undertake Project Work</h4>
    <p>Undertake Project Work is designed to build the student's knowledge and skills to plan, implement, monitor and review a workplace project. The practice-based learning activities within the module offer opportunity for students to apply their understanding
      of project management to scope, plan, resource, budget, monitor and review a project. A key learning outcome of this module is to develop time management skills.</p>
  </div>
  <div class="flex-column _3up border-4 csu-rev-line"><img src="../../images/profile-3-sq.jpg" class="featured" />
    <p class="csu-green-text">Christian Surname</p>
    <p><strong>Email:</strong> csurname@csu.edu.au<br /><strong>Tel:</strong> 0269332233</p>
    <img class="featured" src="../../images/landscape.jpg" /></div>
</div>
<!-- End: @landing-page--summary -->

