

<h2 class="label">Landing Page - Weekly Update</h2>

<h2 class="underline csu-green-text ">LAW314 Community Law and Culture: <br><em><span class='smaller-text'>Regional, Rural, Remote and Indigenous Contemporary Issues</span></em></h2>
<div class="flex-row landing-week ">
  <div class="flex-column-2">
    <figure class="featured"><iframe width="1257" height="1233" style="margin-right: auto; margin-left: auto; display: block;" src="https://h5p.org/h5p/embed/103052" frameborder="0" allowfullscreen=""></iframe>
      <script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" type="text/javascript" charset="UTF-8"></script>
      <figcaption> Subject Timeline </figcaption>
    </figure>
  </div>
  <div class="flex-column ">
    <h3>Week 1 - What to Do This Week</h3>
    <ul class="csu-green-list">
      <li>Lists of things</li>
      <li><strong>Reminds</strong> me of sesame street</li>
      <li>Three Things!! hahaha</li>
      <li>Four Things! hahaha</li>
      <li>All of the things! hahaha</li>
    </ul>
    <h3>Weekly Message</h3>
    <p>Insert Text Here</p>
  </div>
</div>

