

<ol class="timeline">
  <li>
    <h3>July</h3>
    <p>- Something important happened</p>
  </li>
  <li>
    <h3>August</h3>
    <p><span>Reminds me of sesame street</span></p>
    <p>More details required</p>
  </li>
  <li>
    <h3>September</h3>
    <p>Three Things!! hahaha</p>
  </li>
  <li>
    <h3>October</h3>
    <p>Four Things! hahaha</p>
  </li>
  <li>
    <h2>November</h2>
    <p>Works fine with just text too.</p>
  </li>
  <li>
    <h2>December</h2>
    <p>All essential learning activities, learning content and learning tools for your subject are found within this site. Your Subject Outline (in the left-side navigation menu) is the first document you need to read before commencing to study. The
      Subject Outline is an accurate and historical record of the curriculum and scope of your subject, and should be available 14 days before the start of a study session.</p>
  </li>
</ol>

