

<!-- Start: @list-unordered--default -->
<h2 class="label">default</h2>

<ul class="">
  <li>Example List Item</li>
  <li>Example List Item</li>
  <li>Example List Item</li>
  <li>Example List Item</li>
</ul>
<!-- End: @list-unordered--default -->

<!-- Start: @list-unordered--circle -->
<h2 class="label">Circle</h2>

<ul class="circle">
  <li>Circle List Items</li>
  <li>Circle List Items</li>
  <li>Circle List Items</li>
  <li>Circle List Items</li>
</ul>
<!-- End: @list-unordered--circle -->

<!-- Start: @list-unordered--disc -->
<h2 class="label">Disc</h2>

<ul class="disc">
  <li>Disc List Items</li>
  <li>Disc List Items</li>
  <li>Disc List Items</li>
  <li>Disc List Items</li>
</ul>
<!-- End: @list-unordered--disc -->

<!-- Start: @list-unordered--square -->
<h2 class="label">Square</h2>

<ul class="square">
  <li>Square List Items</li>
  <li>Square List Items</li>
  <li>Square List Items</li>
  <li>Square List Items</li>
</ul>
<!-- End: @list-unordered--square -->

<!-- Start: @list-unordered--checklist -->
<h2 class="label">Checklist</h2>

<ul class="checklist">
  <li>Checklist List Items</li>
  <li>Checklist List Items</li>
  <li>Checklist List Items</li>
  <li>Checklist List Items</li>
</ul>
<!-- End: @list-unordered--checklist -->

<!-- Start: @list-unordered--apa -->
<h2 class="label">APA Referencing</h2>

<ul class="apa">
  <li>Conole, G. (2009). <em>Personalisation through technology-Enhanced learning</em>. In J. O’Donoghue (Ed.), Technology-Supported Environments for Personalized Learning: Methods and Case Studies (pp. 1-15). London: IGI Global. doi:10.4018/978-1-60566-884-0.ch001</li>
  <li>Gibson, D., Ostashewski, N., Flintoff, K., Grant, S., &amp; Knight, E. (2013). Digital badges in education. <em>Education and information technologies, 20</em>(2), 403-410. doi:10.1007/s10639-013-9291-7</li>
  <li>Irwin, B., Hepplestone, S., Holden, G., Parkin, H. J., & Thorpe, L. (2013). Engaging students with feedback through adaptive release. Innovations in Education & Teaching International, 50(1), 51-61. doi:10.1080/14703297.2012.748333</li>
</ul>
<!-- End: @list-unordered--apa -->

