

<!-- Start: @paragraphs--default -->
<h2 class="label">default</h2>

<p class="">Paragraph of text goes in here. It&#x27;s pretty easy to see how this might all work, when there&#x27;s an example of you to have a look at.</p>
<!-- End: @paragraphs--default -->

<!-- Start: @paragraphs--lead -->
<h2 class="label">Lead Paragraph</h2>

<p class="lead-paragraph">Paragraph of text goes in here. It&#x27;s pretty easy to see how this might all work, when there&#x27;s an example of you to have a look at.</p>
<!-- End: @paragraphs--lead -->

<!-- Start: @paragraphs--coloured-paragraph -->
<h2 class="label">Coloured Paragraph</h2>

<p class="csu-green-text">Paragraph of text goes in here. It&#x27;s pretty easy to see how this might all work, when there&#x27;s an example of you to have a look at.</p>
<!-- End: @paragraphs--coloured-paragraph -->

<!-- Start: @paragraphs--sub-sup -->
<h2 class="label">Sub and Superscript</h2>

<p class="">Subscript places text <sub>below</sub> the line. Where as Superscript places text <sup>above</sup> the line. Perfect for referencing and scientific equations - like H<sub>2</sub>O or adding a footnore<sup><a href="#">1</a></sup> of text goes in here.</p>
<!-- End: @paragraphs--sub-sup -->

<!-- Start: @paragraphs--apa -->
<h2 class="label">APA Referencing</h2>

<div class="apa">
  <p>Conole, G. (2009). <em>Personalisation through technology-Enhanced learning</em>. In J. O’Donoghue (Ed.), Technology-Supported Environments for Personalized Learning: Methods and Case Studies (pp. 1-15). London: IGI Global. doi:10.4018/978-1-60566-884-0.ch001</p>
  <p>Gibson, D., Ostashewski, N., Flintoff, K., Grant, S., &amp; Knight, E. (2013). Digital badges in education. <em>Education and information technologies, 20</em>(2), 403-410. doi:10.1007/s10639-013-9291-7</p>
  <p>Irwin, B., Hepplestone, S., Holden, G., Parkin, H. J., & Thorpe, L. (2013). Engaging students with feedback through adaptive release. Innovations in Education & Teaching International, 50(1), 51-61. doi:10.1080/14703297.2012.748333</p>
</div>
<!-- End: @paragraphs--apa -->

