

<h2 class="label">3up Profiles</h2>

<div class="flex-row flex-center">
  <div class="flex-column profile ">
    <h4 class="csu-orange">Christian Surname</h4>
    <figure class="featured"><img src="../../images/profile-4-sq.jpg" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> email@some.com</p>
    <p><strong>Twitter:</strong> <a href="#">@csurname</a></p>
    <p>Spent several months developing shaving cream in West Palm Beach, FL. Lead a team buying and selling catfish in Libya. Spent 2001-2005 getting my feet wet with fried chicken in Deltona, FL. Managed a small team working on cigarettes in Cuba. Spent 2001-2007 investing in toy planes in Minneapolis, MN. Garnered an industry award while getting to know junk food in Jacksonville, FL.</p>
  </div>
  <div class="flex-column profile">
    <h4 class="csu-orange">Christian Surname</h4>
    <figure class="featured"><img src="../../images/profile-1-sq.jpg" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> email@some.com</p>
    <p><strong>Twitter:</strong> <a href="#">@csurname</a></p>
    <p>Spent several months developing shaving cream in West Palm Beach, FL. Lead a team buying and selling catfish in Libya. Spent 2001-2005 getting my feet wet with fried chicken in Deltona, FL. Managed a small team working on cigarettes in Cuba. Spent 2001-2007 investing in toy planes in Minneapolis, MN. Garnered an industry award while getting to know junk food in Jacksonville, FL.</p>
  </div>
  <div class="flex-column profile">
    <h4 class="csu-orange">Christian Surname</h4>
    <figure class="featured"><img src="../../images/profile-3-sq.jpg" /></figure>
    <h6>Course Director</h6>
    <p><strong>Contact:</strong> email@some.com</p>
    <p><strong>Twitter:</strong> <a href="#">@csurname</a></p>
    <p>Spent several months developing shaving cream in West Palm Beach, FL. Lead a team buying and selling catfish in Libya. Spent 2001-2005 getting my feet wet with fried chicken in Deltona, FL. Managed a small team working on cigarettes in Cuba. Spent 2001-2007 investing in toy planes in Minneapolis, MN. Garnered an industry award while getting to know junk food in Jacksonville, FL.</p>
  </div>
</div>

