

<h2 class="label">Card Based Profiles - Right Text</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-3-sq.jpg" />
    <p><strong>Twitter:</strong> <a href="#">@csurname</a></p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-2-sq.jpg" />
    <p><strong>Twitter:</strong> <a href="#">@csurname</a></p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-4-sq.jpg" />
    <p><strong>Twitter:</strong> <a href="#">@csurname</a></p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
</div>

