

<!-- Start: @progress-bar--default -->
<h2 class="label">Red Coloured Progress</h2>

<div class="progress csu-red" data-label="15% Complete"><span class="value" style="width: 85%;"> </span></div>
<!-- End: @progress-bar--default -->

<!-- Start: @progress-bar--green -->
<h2 class="label">Green Coloured Progress</h2>

<div class="progress csu-green" data-label="45% Complete"><span class="value" style="width: 55%;"> </span></div>
<!-- End: @progress-bar--green -->

<!-- Start: @progress-bar--orange -->
<h2 class="label">Orange Coloured Progress</h2>

<div class="progress csu-orange" data-label="65% Complete"><span class="value" style="width: 35%;"> </span></div>
<!-- End: @progress-bar--orange -->

<!-- Start: @progress-bar--purple -->
<h2 class="label">Purple Coloured Progress</h2>

<div class="progress csu-purple" data-label="85% Complete"><span class="value" style="width: 15%;"> </span></div>
<!-- End: @progress-bar--purple -->

