

<h2 class="label">First Column</h2>

<table class="table stripe-col-first">
  <tbody>
    <tr>
      <th>First Name</th>
      <td>Peter</td>
      <td>Clark</td>
      <td>Diane</td>
      <td>Bruce</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Parker</td>
      <td>Kent</td>
      <td>Price</td>
      <td>Banner</td>
    </tr>
    <tr>
      <th>Job Title</th>
      <td>Photographer</td>
      <td>Journalist</td>
      <td>Nurse</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>

