

<!-- Start: @tables--default -->
<h2 class="label">Table Class Default</h2>

<table class="table ">
  <thead class="">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr>
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr>
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--default -->

<!-- Start: @tables--boxes -->
<h2 class="label">Boxes</h2>

<table class="table boxes">
  <thead class="">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr>
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr>
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--boxes -->

<!-- Start: @tables--striped-odd -->
<h2 class="label">Striped Odd Rows</h2>

<table class="table stripe-row-odd">
  <thead class="">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr>
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr>
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--striped-odd -->

<!-- Start: @tables--striped-even -->
<h2 class="label">Striped Even Rows</h2>

<table class="table stripe-row-even">
  <thead class="">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr>
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr>
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--striped-even -->

<!-- Start: @tables--striped-even -->
<h2 class="label">Striped Even Columns</h2>

<table class="table stripe-col-even">
  <thead class="">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr>
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr>
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--striped-even -->

<!-- Start: @tables--striped-even -->
<h2 class="label">Striped Odd Columns</h2>

<table class="table stripe-col-odd">
  <thead class="">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr>
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr>
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--striped-even -->

<!-- Start: @tables--head-coloured -->
<h2 class="label">Head Coloured</h2>

<table class="table ">
  <thead class="csu-blue">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr>
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr>
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--head-coloured -->

<!-- Start: @tables--first-col -->
<h2 class="label">First Column</h2>

<table class="table stripe-col-first">
  <tbody>
    <tr>
      <th>First Name</th>
      <td>Peter</td>
      <td>Clark</td>
      <td>Diane</td>
      <td>Bruce</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Parker</td>
      <td>Kent</td>
      <td>Price</td>
      <td>Banner</td>
    </tr>
    <tr>
      <th>Job Title</th>
      <td>Photographer</td>
      <td>Journalist</td>
      <td>Nurse</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--first-col -->

<!-- Start: @tables--row-fades -->
<h2 class="label">Individual Row Colours</h2>

<table class="table">
  <thead>
    <tr class="csu-blue">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody>
    <tr class="csu-red-fade">
      <td>Peter</td>
      <td>Parker</td>
      <td>Photographer</td>
    </tr>
    <tr class="csu-green-fade">
      <td>Clark</td>
      <td>Kent</td>
      <td>Journalist</td>
    </tr>
    <tr class="csu-orange-fade">
      <td>Diane</td>
      <td>Price</td>
      <td>Nurse</td>
    </tr>
    <tr class="csu-purple-fade">
      <td>Bruce</td>
      <td>Banner</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>
<!-- End: @tables--row-fades -->

