
/** Test Tweaks **/

form#bb-take-assessment .vtbegenerated, form#bb-take-assessment .field label {
	font-size: calc(16px - -6 * ((100vw - 600px)/1400)) !important;
}


table.key-valueTable tbody th {
  font-weight: bold;
}

table.key-valueTable tbody th + td {
  font-size: calc(16px - -6 * ((100vw - 600px)/1400)) !important
}

.stepcontent td {
  vertical-align: middle;
}

.stepcontent th {
  padding: 8px !important;
}

.stepcontent .vtbegenerated * {
  margin: 0 !important;
}

.key-valueTable td {
  padding: 8px !important;
}

.key-valueTable th {
  padding: 8px !important;
}

.takeQuestionDiv .vtbegenerated {
box-shadow: none !important
}

.takeQuestionDiv .vtbegenerated p {
  margin: .5em 0 !important;
  line-height: 1.2;
}

.questionShell .vtbegenerated {
  box-shadow: none !important
}

.questionShell .vtbegenerated p {
  margin: .5em 0 !important;
  font-size: 90% !important;
}

.legend-visible {
  font-size: 120%;
}

#dataCollectionContainer .label {
  font-weight: bold;
}

#dataCollectionContainer .stepcontent li {
  padding-bottom: 16px;
}

#addBeforeAfter.quickAddPal {
  background: #ffffff;
}

/** Maths Editor Hidden **/

div.wrs_toolbar {
  display: block !important;
}

// #dataCollectionContainer input[type="radio"] {margin-top: 0.9em;}
// #dataCollectionContainer p input[type="radio"] {margin-top: 0.2em;}
// #dataCollectionContainer p label {margin-top: 0.75em;}
// #dataCollectionContainer fieldset input[type="radio"] {margin-top: 0;}


/** Feedback receipt date and time **/

ul#content_listContainer.contentListPlain {
  margin: 0 0 2em;
}


#bb-take-assessment .stepcontent fieldset .vtbegenerated,
#bb-assessment-canvas fieldset .vtbegenerated {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#bb-take-assessment table td,
#bb-assessment-canvas table td {
vertical-align: middle !important;}

#bb-take-assessment div.field em,
#bb-assessment-canvas div.field em {
display: inline;
color: unset ;
}

#bb-take-assessment fieldset div.vtbegenerated,
#bb-assessment-canvas fieldset div.vtbegenerated  {
    width: 100%;
}

#bb-take-assessment fieldset legend > *,
#bb-assessment-canvas fieldset legend > * {
    font-size: 130% !important;
    color:  #000;
    padding: 1em !Important;
}

#bb-take-assessment p.answer-label,
#bb-assessment-canvas p.answer-label {
  font-weight: bold;
  margin-top: .8em;
}

#bb-take-assessment .vtbegenerated div.apa,
#bb-assessment-canvas .vtbegenerated div.apa {
  padding-left: 2em !important;
}

#bb-take-assessment div.field, div.noLabelField,
#bb-assessment-canvas div.field, div.noLabelField {
  width: 100%;
}

input.answerSavingButton {
  background-image: none !important;
  background-repeat: no-repeat;
}

input.answerSavingButton:active, input.answerSavingButton:focus, input.answerSavingButton:hover  {
  background-image: none !important;
  background-repeat: no-repeat;
}

table.questionShell td {
 padding-bottom: .75em !important;
}

.questionShell .field img:first-child {
  top: 1em;
  left: -.5em;
}

.takeQuestionDiv {
  padding: 3vh 3vw;
}

/** Review Answers **/

.reviewQuestionsAnswerDiv {
    display: inline;
}

.reviewQuestionsAnswerDiv > span {
    vertical-align: center;
    float: left;
}

.reviewQuestionsAnswerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
