@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Arimo|Archivo+Narrow|Roboto|Lora|Merriweather|Source+Serif+Pro');

html {
	background-color: none;
}

body {
 	max-width:100%;
 	font-size:15px;
	background-color: #f8f8f8;
}

body, p, h1, h2, h3, div, span {
   font-family: 'Source Sans Pro' !important;
}


.brandingImgWrap {
    max-height: 50vh;
    min-height: 10vh;
}

table.bouncer {
	border: 0;
}

.global-nav-bar-wrap {
  height: 25px;
  background-color: #414141;
}

.hotItems, .nav-link {
  background: transparent;
}

.topTabs {
  background: #fff !important;
}

.appTabs a {
  color: #414141 !important;
}

.appTabs td {
  padding: 0 !important;
}

.appTabs td.active {
    border-bottom: 3px solid #D92231;
}

.appTabs a:hover span, .appTabs a:focus span {
    color :#D92231 !important;
    transition: all .2s ease;
}

#topTabActive, .appTabs .active a, .appTabs .active a:hover, .appTabs .active a:focus, .appTabs .active a:hover {
	color: #D92231 !important;
    transition: all .2s ease;
}

.pageTitle {
	margin: 0 !important;
}

.contentPane .shadow, .navDivider {
	border: 0;
}

.listCm .courseMenu .divider hr, .buttonCm .courseMenu .divider hr {
	border-top: 1px solid #989898
}


#courseMenuPalette div.navPaletteContent ul li a, #courseMenuPalette h3 a, #courseMenuPalette div.navPaletteContent ul li a span {
    color: #989898 !important;
}

#courseMenuPalette, #courseMenuPalette ul, .actionBar, .actionBarMicro, .menuWrap, .secondaryButton>a, .mainButton h2>a, .secondaryButton h2>a, #courseMenuPalette div.navPaletteContent, #courseMenuPalette a, #controlPanelPalette_contents a, #courseMenuPalette span, #controlPanelPalette_contents span, #courseMenuPalette a span{
    background-color: #fff !important;
  	color: #989898 !important;
}

.navPaletteContent h3 a {
  color: #989898;
}


#courseMenuPalette a:hover, #controlPanelPalette_contents a:hover, #courseMenuPalette span:hover, #controlPanelPalette_contents span:hover {
	background-color: #f5f5f5 !important;
  	color: #414141 !important;
}

.navDivider, .navPalette h3 {
    font-size: 1.3rem;
    padding: 20px 0 0 10px;
  	text-transform: uppercase;
}

.brandingImgWrap img {
    left: 12px;
    max-height: 84px;
    max-width: 200px;
}

.portlet, .contentListPlain {
 	border: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

#moduleTitle, .portlet h2 {
	padding: 16px 0px;
}

.container {
	border: 0;
}

.portlet .portletList-img>li {
	border-left: 3px solid #9F000A;
  	padding: 5px;
}

.portlet .portletList li {
	padding: 5px;
  	border-top: 1px solid #f5f5f5;
}

a, .portlet .subCategories li a, .blockGroups .itemHead, .blockGroups .itemHeadOpen {
	color: #005A7E;
}

.global-nav-bar .badge, .side-nav .menu-icon span.badge {
	background-color: #3A87AD;
}
