

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">APA to DIV</h2>

<div class="apa">
  <p>Conole, G. (2009). <em>Personalisation through technology-Enhanced learning</em>. In J. O’Donoghue (Ed.), Technology-Supported Environments for Personalized Learning: Methods and Case Studies (pp. 1-15). London: IGI Global. doi:10.4018/978-1-60566-884-0.ch001</p>
  <p>Gibson, D., Ostashewski, N., Flintoff, K., Grant, S., &amp; Knight, E. (2013). Digital badges in education. <em>Education and information technologies, 20</em>(2), 403-410. doi:10.1007/s10639-013-9291-7</p>
  <p>Irwin, B., Hepplestone, S., Holden, G., Parkin, H. J., &amp; Thorpe, L. (2013). Engaging students with feedback through adaptive release. <em>Innovations in Education &amp; Teaching International, 50</em>(1), 51-61. doi:10.1080/14703297.2012.748333</p>
  <p>Siemens, G., &amp; Long, P. (2011). Penetrating the fog: Analytics in learning and education. <em>EDUCAUSE review, 46</em>(5), 30.</p>
</div>


  </section>
</body>
</html>

