

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">default</h2>

<blockquote class="">
  <p>Someone famous once said something really profound. It was probably Einstein. Yeah Einstein.</p>
  <cite> Albert Einstein, 2017</cite>
</blockquote>


  </section>
</body>
</html>

