

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">Regular Button</h2>

<p class="csu-button"><a href="javascript:void(0)">Regular Button</a></p>

<button class="csu-button"><a href="javascript:void(0)">Regular Button</a></button>


  </section>
</body>
</html>

