

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<!-- Start: @cards--default -->
<h2 class="label">Card with Image &amp; Text</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up"><img src="../../images/landscape.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
  </div>
  <div class="card-item _3up"><img src="../../images/landscape.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
  </div>
  <div class="card-item _3up"><img src="../../images/landscape.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
  </div>
</div>
<!-- End: @cards--default -->

<!-- Start: @cards--buttons -->
<h2 class="label">Cards with Buttons</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up"><img src="../../images/objects.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-orange">Click Here!</p>

  </div>
  <div class="card-item _3up"><img src="../../images/objects.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-orange">Click Here!</p>

  </div>
  <div class="card-item _3up"><img src="../../images/objects.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-orange">Click Here!</p>
  </div>
</div>
<!-- End: @cards--buttons -->

<!-- Start: @cards--profiles -->
<h2 class="label">Cards for Profiles &amp; Contacts</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-1-sq.jpg" />
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-1-sq.jpg" />
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
  <div class="card-item _3up">
    <h6 class="csu-green">Course Coordinator</h6>
    <img src="../../images/profile-1-sq.jpg" />
    <p>Other Stuff goes here</p>
    <p class="csu-button csu-btn-large csu-green">Email Me</p>
  </div>
</div>
<!-- End: @cards--profiles -->

<!-- Start: @cards--images -->
<h2 class="label">Cards for dispalying Images</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _4up"><img src="../../images/profile-4-sq.jpg" /></div>
  <div class="card-item _4up"><img src="../../images/profile-4-sq.jpg" /></div>
  <div class="card-item _4up"><img src="../../images/profile-4-sq.jpg" /></div>
  <div class="card-item _4up"><img src="../../images/profile-4-sq.jpg" /></div>
</div>
<!-- End: @cards--images -->


  </section>
</body>
</html>

