

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">Card with Image &amp; Text</h2>

<div class="flex-row flex-center card-holder">
  <div class="card-item _3up"><img src="../../images/landscape.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
  </div>
  <div class="card-item _3up"><img src="../../images/landscape.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
  </div>
  <div class="card-item _3up"><img src="../../images/landscape.jpg" />
    <h6>Heading Goes Here</h6>
    <p>Other Stuff goes here</p>
  </div>
</div>


  </section>
</body>
</html>

