

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<!-- Start: @colours--default -->
<h2 class="label">blue</h2>

<h4 class="csu-blue">Background colour applied</h4>
<h4 class="csu-blue-text">Text colour applied</h4>
<h4 class="underline csu-blue-line">Line colour applied to underline</h4>
<ol class="number-list csu-blue-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-blue-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--default -->

<!-- Start: @colours--green -->
<h2 class="label">green</h2>

<h4 class="csu-green">Background colour applied</h4>
<h4 class="csu-green-text">Text colour applied</h4>
<h4 class="underline csu-green-line">Line colour applied to underline</h4>
<ol class="number-list csu-green-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-green-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--green -->

<!-- Start: @colours--grey -->
<h2 class="label">grey</h2>

<h4 class="csu-grey">Background colour applied</h4>
<h4 class="csu-grey-text">Text colour applied</h4>
<h4 class="underline csu-grey-line">Line colour applied to underline</h4>
<ol class="number-list csu-grey-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-grey-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--grey -->

<!-- Start: @colours--ochre -->
<h2 class="label">ochre</h2>

<h4 class="csu-ochre">Background colour applied</h4>
<h4 class="csu-ochre-text">Text colour applied</h4>
<h4 class="underline csu-ochre-line">Line colour applied to underline</h4>
<ol class="number-list csu-ochre-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-ochre-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--ochre -->

<!-- Start: @colours--orange -->
<h2 class="label">orange</h2>

<h4 class="csu-orange">Background colour applied</h4>
<h4 class="csu-orange-text">Text colour applied</h4>
<h4 class="underline csu-orange-line">Line colour applied to underline</h4>
<ol class="number-list csu-orange-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-orange-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--orange -->

<!-- Start: @colours--purple -->
<h2 class="label">purple</h2>

<h4 class="csu-purple">Background colour applied</h4>
<h4 class="csu-purple-text">Text colour applied</h4>
<h4 class="underline csu-purple-line">Line colour applied to underline</h4>
<ol class="number-list csu-purple-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-purple-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--purple -->

<!-- Start: @colours--red -->
<h2 class="label">red</h2>

<h4 class="csu-red">Background colour applied</h4>
<h4 class="csu-red-text">Text colour applied</h4>
<h4 class="underline csu-red-line">Line colour applied to underline</h4>
<ol class="number-list csu-red-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-red-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--red -->

<!-- Start: @colours--foa -->
<h2 class="label">foa</h2>

<h4 class="csu-foa">Background colour applied</h4>
<h4 class="csu-foa-text">Text colour applied</h4>
<h4 class="underline csu-foa-line">Line colour applied to underline</h4>
<ol class="number-list csu-foa-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-foa-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--foa -->

<!-- Start: @colours--fob -->
<h2 class="label">fob</h2>

<h4 class="csu-fob">Background colour applied</h4>
<h4 class="csu-fob-text">Text colour applied</h4>
<h4 class="underline csu-fob-line">Line colour applied to underline</h4>
<ol class="number-list csu-fob-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-fob-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--fob -->

<!-- Start: @colours--fos -->
<h2 class="label">fos</h2>

<h4 class="csu-fos">Background colour applied</h4>
<h4 class="csu-fos-text">Text colour applied</h4>
<h4 class="underline csu-fos-line">Line colour applied to underline</h4>
<ol class="number-list csu-fos-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-fos-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--fos -->

<!-- Start: @colours--primary -->
<h2 class="label">primary</h2>

<h4 class="csu-primary">Background colour applied</h4>
<h4 class="csu-primary-text">Text colour applied</h4>
<h4 class="underline csu-primary-line">Line colour applied to underline</h4>
<ol class="number-list csu-primary-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-primary-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--primary -->

<!-- Start: @colours--secondary -->
<h2 class="label">secondary</h2>

<h4 class="csu-secondary">Background colour applied</h4>
<h4 class="csu-secondary-text">Text colour applied</h4>
<h4 class="underline csu-secondary-line">Line colour applied to underline</h4>
<ol class="number-list csu-secondary-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-secondary-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--secondary -->

<!-- Start: @colours--success -->
<h2 class="label">success</h2>

<h4 class="csu-success">Background colour applied</h4>
<h4 class="csu-success-text">Text colour applied</h4>
<h4 class="underline csu-success-line">Line colour applied to underline</h4>
<ol class="number-list csu-success-list">
  <li>Applied to special list</li>
</ol>
<table class="full-width table no-border">
  <tr class="csu-success-fade"><td>This table has a fade of the main applied</td></tr>
</table>
<!-- End: @colours--success -->


  </section>
</body>
</html>

