

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<!-- Start: @download--default -->
<h3 class="underline csu-red-line">Source Sans Pro Font</h2>

<p>The Source Sans Pro package can be installed on a local machine. This can be helpful for local design and development. You can also find Source Sans Pro on Google Fonts.</p>

<a href="../../files/Source_Sans_Pro.zip" download="Source Sans Pro Font" class="csu-button csu-green float-right">DOWNLOAD</a>
<!-- End: @download--default -->

<!-- Start: @download--css -->
<h3 class="underline csu-red-line">Learning Material CSS</h2>

<p>You can download a copy of the Learning Material CSS. This CSS does not contain the unique Blackboard elements, just the underlying styles.</p>

<a href="../../css/learning-materials.css" download="Learning Material CSS" class="csu-button csu-green float-right">DOWNLOAD</a>
<!-- End: @download--css -->

<!-- Start: @download--starter -->
<h3 class="underline csu-red-line">HTML &amp; CSS</h2>

<p>This zip file contains a HTML and CSS file ready to test out and build using the new styles.</p>

<a href="../../files/starter.zip" download="HTML &amp; CSS" class="csu-button csu-green float-right">DOWNLOAD</a>
<!-- End: @download--starter -->

<!-- Start: @download--sass -->
<h3 class="underline csu-red-line">SASS Files</h2>

<p>If you prefer to work with the uncompiled SASS/SCSS you can use this folder of files.</p>

<a href="../../files/sass.zip" download="SASS Files" class="csu-button csu-green float-right">DOWNLOAD</a>
<!-- End: @download--sass -->

<!-- Start: @download--activity -->
<h3 class="underline csu-red-line">Activity Icons</h2>

<p>Icons developed for Interaction Based actitivies.</p>

<a href="../../files/activity-icons.zip" download="Activity Icons" class="csu-button csu-green float-right">DOWNLOAD</a>
<!-- End: @download--activity -->


  </section>
</body>
</html>

