

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h3 class="underline csu-red-line">Source Sans Pro Font</h2>

<p>The Source Sans Pro package can be installed on a local machine. This can be helpful for local design and development. You can also find Source Sans Pro on Google Fonts.</p>

<a href="../../files/Source_Sans_Pro.zip" download="Source Sans Pro Font" class="csu-button csu-green float-right">DOWNLOAD</a>


  </section>
</body>
</html>

