

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page responsive-type">

<h2 class="label">default</h2>

<figure class="featured">
  <img src="http://www.australia.com/content/australia/en/places/sydney/_jcr_content/hero/image.adapt.1663.medium.jpg" />
  <figcaption>The Sydney Harbour Bridge <cite>http://www.australia.com/en/places/sydney.html</cite></figcaption>
</figure>


  </section>
</body>
</html>

