

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">5UP Gallery</h2>



<div class="flex-row gallery">
  <h3 class="underline csu-orange-line">5UP Gallery</h3>
  <figure class="featured _5up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _5up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _5up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _5up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
  <figure class="featured _5up">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
      <figcaption>Welcome to u!magine</figcaption>
  </figure>
</div>


  </section>
</body>
</html>

