

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">CSU green</h2>

<div class="flex-row tiles flex-tile-grout height-100">

  <div class="csu-green-gradient-top _3up"><p class="smaller-text">To Top</p></div>
  <div class="csu-green-gradient-bottom _3up"><p class="smaller-text">To Bottom</p></div>
  <div class="csu-green-gradient-left _3up"><p class="smaller-text">To Left</p></div>
  <div class="csu-green-gradient-right _3up"><p class="smaller-text">To Right</p></div>

  <div class="csu-grad-green-blue _3up"><p class="smaller-text">To Blue</p></div>
  <div class="csu-grad-green-green _3up"><p class="smaller-text">To Green</p></div>
  <div class="csu-grad-green-grey _3up"><p class="smaller-text">To Grey</p></div>
  <div class="csu-grad-green-orange _3up "><p class="smaller-text">To Orange</p></div>
  <div class="csu-grad-green-purple _3up"><p class="smaller-text">To Purple</p></div>
  <div class="csu-grad-green-red _3up"><p class="smaller-text">To Red</p></div>
  <div class="csu-grad-green-ochre _3up"><p class="smaller-text">To Ochre</p></div>
</div>


  </section>
</body>
</html>

