

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">User Interface Palette</h2>
<div class="flex-row ">
  <div class="flex-column csu-primary swatch flex-container flex-end">
    <p>Primary<br /><span class="small-text">#B00C1D</span></p>
  </div>
  <div class="flex-column csu-secondary swatch flex-container flex-end">
    <p>Secondary<br /><span class="small-text">#347EA4</span></p>
  </div>
  <div class="flex-column csu-warning swatch flex-container flex-end">
    <p>Warning<br /><span class="small-text">#FFDC0B</span></p>
  </div>
  <div class="flex-column csu-success swatch flex-container flex-end">
    <p>Success<br /><span class="small-text">#318700</span></p>
  </div>
  <div class="flex-column csu-highlight-subtle swatch flex-container flex-end">
    <p>Highlight<br /><span class="small-text">#FCF8E3</span></p>
  </div>
</div>

<div class="flex-row ">
  <div class="flex-column csu-primary-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-secondary-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-warning-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-success-dark swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-highlight-subtle-dark swatch-half flex-container flex-end"></div>
</div>
<div class="flex-row ">
  <div class="flex-column csu-primary-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-secondary-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-warning-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-success-light swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-highlight-subtle-light swatch-half flex-container flex-end"></div>
</div>
<div class="flex-row ">
  <div class="flex-column csu-primary-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-secondary-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-warning-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-success-fade swatch-half flex-container flex-end"></div>
  <div class="flex-column csu-highlight-subtle-fade swatch-half flex-container flex-end"></div>
</div>

<div class="flex-row ">
  <div class="flex-column csu-grey-nav swatch flex-container flex-end">
    <p>Grey Nav<br /><span class="small-text">#414141</span></p>
  </div>
  <div class="flex-column csu-grey-item swatch flex-container flex-end">
    <p>Grey Item<br /><span class="small-text">#757575</span></p>
  </div>
  <div class="flex-column csu-grey-hover swatch flex-container flex-end">
    <p>Grey Hover<br /><span class="small-text">#E0E0E0</span></p>
  </div>
  <div class="flex-column csu-grey-page swatch flex-container flex-end">
    <p>Grey Page<br /><span class="small-text">#F8F8F8</span></p>
  </div>
</div>


  </section>
</body>
</html>

