

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">Weekly Update</h2>

<div class="content">
  <h2 class="underline csu-green-text">Welcome to ABC123 The Alphabet: <br><em><span class='smaller-text'>How to spell words and stuff</span></em></h2>
  <p>I'm Emmett Berry, and I'll be your subject coordinator this session. Accounting 1 gives you a solid foundation for the kinds of information and concepts that business managers and accountants use to make decisions and manage a business. We'll focus
    on the uses of financial information, rather than the recording a spect of financial transactions. Expect to learn how to read, analyse, interpret and communicate your findings using spreadsheets and business reports.</p>
  <figure class="featured">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
  </figure>
  <blockquote class="fancyquote csu-green-text">Effective business decisions rely on good accounting!</blockquote>
  <div class="flex-row small-text">
    <div class="flex-column">
      <h4 class="csu-green">Contacting Me</h4>
      <p>You can find my contact details in the 'Contacts' link in the left navigation, including the best times and ways of contacting me.</p>
      <h4 class="csu-green">Your Textbook</h4>
      <p>Your textbook for this session is:</p>
      <p class="apa">Birt, J., Chalmers, K., Maloney, S., Brooks, A., Oliver, J., (2014) <em>Accounting Business Reporting For Decison Making with Wileyplus</em>, (5th ed.) Milton, Australia: John Wiley and Sons.</p>
      <p>It's important that you order the textbook in time for the first day of session. It comes in both Hardcopy or eBook and can be <a title="Opens publisher website (new window)" href="http://www.wileydirect.com.au/buy/accounting-business-reporting-decision-making-5th-edition/"
          target="_blank">purchased direct from the publisher. </a></p>
      <p>Hardcopy ISBN : 9780730319665</p>
      <p>eBook ISBN: 9780730314462</p>
      <p>We've provided you with a <a title="Opens pdf copy of Birt, chapter 1 (new window)" href="https://new.interact2.csu.edu.au/bbcswebdav/pid-46014-dt-content-rid-1405756_1/xid-1405756_1" target="_blank">pdf copy of the first chapter of the text</a>.
        Normally sharing this is now allowable under copyright law; however, the publisher has given us permission to help you make a positive start in ACC100 while your textbook order is being processed. <strong>Under no circumstances should you share this or other information subject to copyright.</strong></p>
    </div>
    <div class="flex-column">
      <h3 class="csu-green-text">Let's have a bit of fun...</h3>
      <p>Did you know November 10 was International Accountants' Day? What better time to get to know some of the more unusual facts about the accounting profession. </p>
    </div>
  </div>
</div>


  </section>
</body>
</html>

