

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">Weekly summary</h2>

<h4 class="underline csu-green-text">ABC300: Alphabet in the Workforce</h4>
<div class="flex-row small-text">
  <div class="flex-column-3">
    <h4 class="csu-green">What to do this Week</h4>
    <p>This week, you should focus on:</p>
    <ul class="checklist">
      <li><span class="csu-orange-text">Study</span> your learning module(s) for this week.</li>
      <li><span class="csu-orange-text">Complete</span> any module self-study tasks within your downloaded Activity Booklet</li>
      <li><span class="csu-orange-text">Review</span> Assessment 4 preparation information</li>
    </ul>
    <h4 class="csu-green">Weekly Message</h4>
    <p>Week 12: this this module discusses models for successful project management - the steps and considerations attached to the process.</p>
    <h4 class="csu-green">Module 12: Undertake Project Work</h4>
    <p>Undertake Project Work is designed to build the student's knowledge and skills to plan, implement, monitor and review a workplace project. The practice-based learning activities within the module offer opportunity for students to apply their understanding
      of project management to scope, plan, resource, budget, monitor and review a project. A key learning outcome of this module is to develop time management skills.</p>
  </div>
  <div class="flex-column _3up border-4 csu-rev-line"><img src="../../images/profile-3-sq.jpg" class="featured" />
    <p class="csu-green-text">Christian Surname</p>
    <p><strong>Email:</strong> csurname@csu.edu.au<br /><strong>Tel:</strong> 0269332233</p>
    <img class="featured" src="../../images/landscape.jpg" /></div>
</div>


  </section>
</body>
</html>

