

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">Circle</h2>

<ul class="circle">
  <li>Circle List Items</li>
  <li>Circle List Items</li>
  <li>Circle List Items</li>
  <li>Circle List Items</li>
</ul>


  </section>
</body>
</html>

