

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<!-- Start: @list-ordered--default -->
<h2 class="label">Default</h2>

<ol class="">
  <li>Example List Item</li>
  <li>Example List Item</li>
  <li>Example List Item</li>
  <li>Example List Item</li>
</ol>
<!-- End: @list-ordered--default -->

<!-- Start: @list-ordered--alpha-low -->
<h2 class="label">Alpha Low</h2>

<ol class="alpha-low">
  <li>Alpha Low List Items</li>
  <li>Alpha Low List Items</li>
  <li>Alpha Low List Items</li>
  <li>Alpha Low List Items</li>
</ol>
<!-- End: @list-ordered--alpha-low -->

<!-- Start: @list-ordered--alpha-upper -->
<h2 class="label">Alpha Upper</h2>

<ol class="alpha-upper">
  <li>Alpha Upper List Items</li>
  <li>Alpha Upper List Items</li>
  <li>Alpha Upper List Items</li>
  <li>Alpha Upper List Items</li>
</ol>
<!-- End: @list-ordered--alpha-upper -->

<!-- Start: @list-ordered--decimal -->
<h2 class="label">Decimal</h2>

<ol class="decimal">
  <li>Decimal List Items</li>
  <li>Decimal List Items</li>
  <li>Decimal List Items</li>
  <li>Decimal List Items</li>
</ol>
<!-- End: @list-ordered--decimal -->

<!-- Start: @list-ordered--decimal-zero -->
<h2 class="label">Decimal Zero</h2>

<ol class="decimal-zero">
  <li>Decimal Zero List Items</li>
  <li>Decimal Zero List Items</li>
  <li>Decimal Zero List Items</li>
  <li>Decimal Zero List Items</li>
</ol>
<!-- End: @list-ordered--decimal-zero -->

<!-- Start: @list-ordered--none -->
<h2 class="label">No Style</h2>

<ol class="none">
  <li>No list style List Items</li>
  <li>No list style List Items</li>
  <li>No list style List Items</li>
  <li>No list style List Items</li>
</ol>
<!-- End: @list-ordered--none -->

<!-- Start: @list-ordered--roman-low -->
<h2 class="label">Roman Low</h2>

<ol class="roman-low">
  <li>Roman Low List Items</li>
  <li>Roman Low List Items</li>
  <li>Roman Low List Items</li>
  <li>Roman Low List Items</li>
</ol>
<!-- End: @list-ordered--roman-low -->

<!-- Start: @list-ordered--roman-upper -->
<h2 class="label">Roman Upper</h2>

<ol class="roman-upper">
  <li>Roman Upper List Items</li>
  <li>Roman Upper List Items</li>
  <li>Roman Upper List Items</li>
  <li>Roman Upper List Items</li>
</ol>
<!-- End: @list-ordered--roman-upper -->

<!-- Start: @list-ordered--special-numbers -->
<h2 class="label">Special Numbers</h2>

<ol class="number-list">
  <li>Special Number List Items</li>
  <li>Special Number List Items</li>
  <li>Special Number List Items</li>
  <li>Special Number List Items</li>
</ol>
<!-- End: @list-ordered--special-numbers -->

<!-- Start: @list-ordered--step-list -->
<h2 class="label">Step List</h2>

<ol class="step-list">
  <li>Step List Items</li>
  <li>Step List Items</li>
  <li>Step List Items</li>
  <li>Step List Items</li>
</ol>
<!-- End: @list-ordered--step-list -->

<!-- Start: @list-ordered--timeline -->
<ol class="timeline">
  <li>
    <h3>July</h3>
    <p>- Something important happened</p>
  </li>
  <li>
    <h3>August</h3>
    <p><span>Reminds me of sesame street</span></p>
    <p>More details required</p>
  </li>
  <li>
    <h3>September</h3>
    <p>Three Things!! hahaha</p>
  </li>
  <li>
    <h3>October</h3>
    <p>Four Things! hahaha</p>
  </li>
  <li>
    <h2>November</h2>
    <p>Works fine with just text too.</p>
  </li>
  <li>
    <h2>December</h2>
    <p>All essential learning activities, learning content and learning tools for your subject are found within this site. Your Subject Outline (in the left-side navigation menu) is the first document you need to read before commencing to study. The
      Subject Outline is an accurate and historical record of the curriculum and scope of your subject, and should be available 14 days before the start of a study session.</p>
  </li>
</ol>
<!-- End: @list-ordered--timeline -->


  </section>
</body>
</html>

