

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">Red Coloured Progress</h2>

<div class="progress csu-red" data-label="15% Complete"><span class="value" style="width: 85%;"> </span></div>


  </section>
</body>
</html>

