

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">First Column</h2>

<table class="table stripe-col-first">
  <tbody>
    <tr>
      <th>First Name</th>
      <td>Peter</td>
      <td>Clark</td>
      <td>Diane</td>
      <td>Bruce</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>Parker</td>
      <td>Kent</td>
      <td>Price</td>
      <td>Banner</td>
    </tr>
    <tr>
      <th>Job Title</th>
      <td>Photographer</td>
      <td>Journalist</td>
      <td>Nurse</td>
      <td>Physicist</td>
    </tr>
  </tbody>
</table>


  </section>
</body>
</html>

