

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<!-- Start: @text--default -->
<p class="no">Text with no Transform</p>
<!-- End: @text--default -->

<!-- Start: @text--uppercase -->
<p class="uppercase">Text with uppercase Transform</p>
<!-- End: @text--uppercase -->

<!-- Start: @text--capitalise -->
<p class="capitalise">Text with capitalise Transform</p>
<!-- End: @text--capitalise -->

<!-- Start: @text--lowercase -->
<p class="lowercase">Text with lowercase Transform</p>
<!-- End: @text--lowercase -->

<!-- Start: @text--underline -->
<p class="underline">Text with underline Transform</p>
<!-- End: @text--underline -->

<!-- Start: @text--small-text -->
<p class="small-text">Text with small-text Transform</p>
<!-- End: @text--small-text -->

<!-- Start: @text--smaller-text -->
<p class="smaller-text">Text with smaller-text Transform</p>
<!-- End: @text--smaller-text -->

<!-- Start: @text--large-text -->
<p class="large-text">Text with large-text Transform</p>
<!-- End: @text--large-text -->

<!-- Start: @text--larger-text -->
<p class="larger-text">Text with larger-text Transform</p>
<!-- End: @text--larger-text -->

<!-- Start: @text--heavy-text -->
<p class="heavy-text">Text with heavy-text Transform</p>
<!-- End: @text--heavy-text -->

<!-- Start: @text--light-text -->
<p class="light-text">Text with light-text Transform</p>
<!-- End: @text--light-text -->

<!-- Start: @text--indent -->
<p class="indent">Text with indent Transform</p>
<!-- End: @text--indent -->

<!-- Start: @text--caption -->
<p class="caption">Text with caption Transform</p>
<!-- End: @text--caption -->


  </section>
</body>
</html>

