

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">default</h2>

<p>Tooltips are <span tooltip="This makes them easy to see in the text">underlined with a dotted line</span>. Tool tips can also be applied to links <a tooltip="This is a link out to Google" href="http://goggle.com">which go out to the world</a> which makes them quite flexible.</p>


  </section>
</body>
</html>

