

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/learning-materials.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <title>Preview Layout</title>
</head>
<body class="background">
  <section class="page-area responsive-type">

<h2 class="label">Left + 30% Width</h2>
<div>
  <figure class="featured _30 float-left">
    <div class="video"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/977AYjapws0" frameborder="0" allowfullscreen></iframe></div>
  </figure>
  <p>I cant pay you there are more projects lined up charge extra the next time, nor can you use a high definition screenshot. Can you make pink a little more pinkish we don't need a backup, it never goes down! make it original, or this was not according
    to brief I have an awesome idea for a startup, i need you to build it for me. Anyway, you are the designer, you know what to do this looks perfect. Just Photoshop out the dog, add a baby, and make the curtains blue is this the best we can do.
    That's great, but can you make it work for ie 2 please could you rotate the picture to show the other side of the room? nor this is just a 5 minutes job can you make it look like this clipart i found. Give us a complimentary logo along with the
    website I have printed it out, but the animated gif is not moving could you rotate the picture to show the other side of the room? is this the best we can do I need a website. How much will it cost I think we need to start from scratch.</p>
</div>


  </section>
</body>
</html>

