/*On Demand module*/

.ondemand-module {
	margin:  14px 3px;
	position: relative;
}

.ondemand-module div {
	margin-bottom: 12px;
}

.ondemand-module div a {
	background: #00ADD0;
	color:  #fff;
	font-size: 120%;
	font-weight: bold;
	padding: 10px 12px 10px 4%;
	display: block;
	border-radius: 5px;
}

.ondemand-module div a:hover {
	background: #00b3be;
	box-shadow: 0 0 12px #2cb673;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}

.ondemand-module div a > span {
	font-size: 80%;
	font-weight: normal;
	display: block;
	margin-bottom: 3px;
}

.ondemand-module  span.release {
	background: #9DDDEA;
	border-radius: 12px 12px 12px 12px;
	color: #000000;
	font-size: 85%;
	padding: 3px 10px 3px 13px;
	position: absolute;
	right: -4px;
	top: -7px;
	border: 1px solid #00add0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}

.ondemand-module p {
	color: #666666;
	margin: 0 13px;
}
