/** APA Referencing **/

.apa,.apa ul,.apa ol,.apa dl {padding-left: 0; margin-left: 0; font-size: 80%;}

.apa li {list-style-type: none;}

.apa p,.apa li,.apa dd {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: 1em;
  text-indent: -2em;
}
