/** Text Modifiers **/

.lead-paragraph {font-size: 105%; font-style: italic;}

// Clash with BB
.page .label {
  background: $grey-page;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $grey-nav;
  font-size: 60%;
  font-weight: normal;
  margin: 4em 0 .5em -.3em;
  text-transform: uppercase;
}

.uppercase {text-transform: uppercase !important;}
.capitalise {text-transform: capitalize !important;}
.lowercase {text-transform: lowercase !important;}

p, h1, h2, h3, h4, h5, h6, cite, span, div {
  &.underline {padding: .4em .1em .1em .4em !important; border-bottom: 2px solid; width: 95%;}
  &.small-text {font-size: 85% !important;}
  &.smaller-text {font-size: 70% !important;}
  &.large-text {font-size: 130% !important;}
  &.larger-text {font-size: 150% !important;}
  &.heavy-text {font-weight: 800 !important;}
  &.light-text {font-weight: lighter !important;}
  &.indent {margin: 1em 6vw !important;}
}

/** Quotes **/

.pullquote {border: 0 !important; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.fancyquote {border-width: 2px 0 !important; border-style: solid;}
.fancyquote, .fancyquote p {font-family: "Times New Roman", Georgia, Serif !important; font-size: 125%;}
